# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Exclude HTML documentation files from GitHub language statistics
src/main/resources/**/*.html linguist-documentation=true


